body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none {
  -webkit-filter: none;
}

.blur {
  -webkit-filter: blur(3px);
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.invert {
  -webkit-filter: invert(1);
}

.sepia {
  -webkit-filter: sepia(1);
}
